.search-container {
    margin-top: 50px;
    width: 90%;
    display: grid;
    grid-template-columns: 100%;
    margin-bottom: 10px;
    position: relative;
    grid-area: search;
    margin: auto;

    input {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        height: 25px;
        border-radius: 5px;
        border: #353535 1px solid;
        outline: none;
    }

    input::placeholder {
        text-align: center;
        font-size: 1rem;
        font-family: "Work Sans", sans-serif;
        font-weight: 400;
    }

    

    .search-option {
        width: 100%;
        position: absolute;
        top: 102%;
        background-color: #ffffff;
        z-index: 999999;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        box-shadow: -1px 8px 15px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: -1px 8px 15px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -1px 8px 15px 0px rgba(0, 0, 0, 0.75);

        ul {
            padding: 0;
            list-style: none;

            div {
                text-decoration: none;

                li {
                    padding: 10px 20px 10px 20px;
                    padding-bottom: 10px;
                    font-size: 0.9rem;
                    cursor: pointer;
                    color: rgb(41, 41, 41);
                }

                li:hover {
                    background-color: #f9f9f9;
                }
            }
        }
    }
}

@media screen and (min-width:768px) {
    .search-container {
        margin-top: 50px;
        width: 70%;
    }
}

@media screen and (min-width:1024px) {
    .search-container {
        margin-top: 50px;
        width: 50%;
    }
}